DbUpdate/Service References/UpdateServiceReference/UpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/FrameworkService/UpdateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/FrameworkService/UpdateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateService_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetWithSql_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWithSql" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetWithSql_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWithSqlResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetWithSpGet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWithSpGet" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetWithSpGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWithSpGetResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetWithSp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWithSp" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetWithSp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWithSpResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateService">
    <wsdl:operation name="SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/SaveChanges" message="tns:IUpdateService_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/SaveChangesResponse" message="tns:IUpdateService_SaveChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWithSql">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetWithSql" message="tns:IUpdateService_GetWithSql_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetWithSqlResponse" message="tns:IUpdateService_GetWithSql_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWithSpGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetWithSpGet" message="tns:IUpdateService_GetWithSpGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetWithSpGetResponse" message="tns:IUpdateService_GetWithSpGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWithSp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetWithSp" message="tns:IUpdateService_GetWithSp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetWithSpResponse" message="tns:IUpdateService_GetWithSp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateService" type="tns:IUpdateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveChanges">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/SaveChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithSql">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetWithSql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithSpGet">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetWithSpGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithSp">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetWithSp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateService">
    <wsdl:port name="BasicHttpBinding_IUpdateService" binding="tns:BasicHttpBinding_IUpdateService">
      <soap:address location="http://localhost/FrameworkService/UpdateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>