DbUpdate/Service References/UpdateServiceReference/UpdateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SaveChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlStatements" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveChangesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlStatements" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWithSqlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithSpGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlStatements" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithSpGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWithSpGetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithSp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sql" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TimeoutSecs" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithSpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWithSpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>